* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cxx text eol=lf

CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.tar.gz binary